build*
out*
.vscode*
.vs*
.cache*
source/deviceparam*
source/process.log
source/ui/version.rc
3rdparty/osg3.6.5-backup*
source/sdk.log
setup/win/setup*
setup/win/app*
source/aelog.log
source/ui/res/lang/*.ts
source/ui/revoscan5_rc.py
source/ConversionTool/conversionTool_rc.py
source/CMakeSettings.json
3rdparty/cspcpp/CopyRelWithDebInfo.bat
3rdparty/cspcpp/CopyReleaseAndDebug.bat
source/zxPointCloudProcessing.log
3rdparty/cspcpp/CopyPublishWindowsAndMacos.bat
